<a href="https://colab.research.google.com/github/exson6969/BBL2021-analysis/blob/main/cricket_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Espncrickinfo scorecard scrapper

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
page = requests.get('https://www.espncricinfo.com/series/big-bash-league-2021-22-1269637/match-schedule-fixtures-and-results')

html_data = page.content

soup = BeautifulSoup(html_data)

match_page_list = []
for a in soup.find_all('a', href=True):
  if 'full-scorecard' in a['href']:
    match_page_list.append(a['href'])
print(match_page_list)
print(len(match_page_list))

['/series/india-in-bangladesh-2022-23-1340842/bangladesh-vs-india-2nd-test-1340849/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-sixers-vs-melbourne-stars-1st-match-1269638/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-thunder-vs-brisbane-heat-2nd-match-1269639/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-renegades-vs-adelaide-strikers-3rd-match-1269640/full-scorecard', '/series/big-bash-league-2021-22-1269637/hobart-hurricanes-vs-sydney-sixers-4th-match-1269641/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-brisbane-heat-5th-match-1269642/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-melbourne-renegades-6th-match-1269643/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-stars-vs-sydney-thunder-7th-match-1269644/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-sixers-vs-hobart-hurricanes-8th-match-1269645/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-adelaide-strikers-9th-match-1269646/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-thunder-vs-melbourne-stars-10th-match-1269647/full-scorecard', '/series/big-bash-league-2021-22-1269637/brisbane-heat-vs-melbourne-renegades-11th-match-1269648/full-scorecard', '/series/big-bash-league-2021-22-1269637/hobart-hurricanes-vs-perth-scorchers-12th-match-1269649/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-stars-vs-sydney-sixers-13th-match-1269650/full-scorecard', '/series/big-bash-league-2021-22-1269637/brisbane-heat-vs-sydney-thunder-14th-match-1269651/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-hobart-hurricanes-15th-match-1269652/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-sixers-vs-adelaide-strikers-16th-match-1269653/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-renegades-vs-perth-scorchers-17th-match-1269654/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-brisbane-heat-18th-match-1269655/full-scorecard', '/series/big-bash-league-2021-22-1269637/hobart-hurricanes-vs-melbourne-stars-19th-match-1269656/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-thunder-vs-sydney-sixers-20th-match-1269657/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-melbourne-renegades-21st-match-1269658/full-scorecard', '/series/big-bash-league-2021-22-1269637/hobart-hurricanes-vs-adelaide-strikers-22nd-match-1269659/full-scorecard', '/series/big-bash-league-2021-22-1269637/brisbane-heat-vs-melbourne-stars-23rd-match-1269660/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-thunder-vs-perth-scorchers-24th-match-1269661/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-sixers-vs-brisbane-heat-25th-match-1269662/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-renegades-vs-hobart-hurricanes-26th-match-1269663/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-sydney-thunder-27th-match-1269665/full-scorecard', '/series/big-bash-league-2021-22-1269637/hobart-hurricanes-vs-brisbane-heat-28th-match-1269666/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-sixers-vs-melbourne-renegades-29th-match-1269667/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-stars-vs-perth-scorchers-30th-match-1269668/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-thunder-vs-adelaide-strikers-31st-match-1269669/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-stars-vs-melbourne-renegades-32nd-match-1269670/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-sydney-sixers-33rd-match-1269675/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-hobart-hurricanes-34th-match-1269672/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-renegades-vs-brisbane-heat-35th-match-1269674/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-sydney-thunder-36th-match-1269673/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-renegades-vs-sydney-thunder-37th-match-1269677/full-scorecard', '/series/big-bash-league-2021-22-1269637/brisbane-heat-vs-hobart-hurricanes-38th-match-1269678/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-sixers-vs-perth-scorchers-39th-match-1269679/full-scorecard', '/series/big-bash-league-2021-22-1269637/hobart-hurricanes-vs-sydney-thunder-40th-match-1269681/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-stars-vs-adelaide-strikers-41st-match-1269680/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-melbourne-stars-42nd-match-1269664/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-renegades-vs-sydney-sixers-43rd-match-1269682/full-scorecard', '/series/big-bash-league-2021-22-1269637/brisbane-heat-vs-adelaide-strikers-44th-match-1269683/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-thunder-vs-hobart-hurricanes-45th-match-1269684/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-renegades-vs-melbourne-stars-46th-match-1269685/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-perth-scorchers-47th-match-1269686/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-melbourne-stars-48th-match-1269676/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-sixers-vs-sydney-thunder-49th-match-1269687/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-stars-vs-brisbane-heat-50th-match-1269688/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-sydney-sixers-51st-match-1269689/full-scorecard', '/series/big-bash-league-2021-22-1269637/brisbane-heat-vs-perth-scorchers-52nd-match-1269690/full-scorecard', '/series/big-bash-league-2021-22-1269637/hobart-hurricanes-vs-melbourne-renegades-53rd-match-1269691/full-scorecard', '/series/big-bash-league-2021-22-1269637/brisbane-heat-vs-sydney-sixers-54th-match-1269692/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-thunder-vs-melbourne-renegades-55th-match-1269694/full-scorecard', '/series/big-bash-league-2021-22-1269637/melbourne-stars-vs-hobart-hurricanes-56th-match-1269693/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-hobart-hurricanes-eliminator-1269671/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-sydney-sixers-qualifier-1269695/full-scorecard', '/series/big-bash-league-2021-22-1269637/sydney-thunder-vs-adelaide-strikers-knockout-1269696/full-scorecard', '/series/big-bash-league-2021-22-1269637/adelaide-strikers-vs-sydney-sixers-challenger-1269697/full-scorecard', '/series/big-bash-league-2021-22-1269637/perth-scorchers-vs-sydney-sixers-final-1269698/full-scorecard']
62

In [3]:
emt_bat_df = pd.DataFrame()
emt_ball_df = pd.DataFrame()

for subUrl in match_page_list:
  try:
    t1_batting = pd.read_html(f"https://www.espncricinfo.com/{subUrl}")[0]
    t2_bowling = pd.read_html(f"https://www.espncricinfo.com/{subUrl}")[1]
    t2_batting = pd.read_html(f"https://www.espncricinfo.com/{subUrl}")[2]
    t1_bowling = pd.read_html(f"https://www.espncricinfo.com/{subUrl}")[3]

    merg_batting = pd.concat([t1_batting, t2_batting],ignore_index=True)
    merg_batting = merg_batting[merg_batting["BATTING"].str.contains("Did not bat") == False]
    merg_batting = merg_batting[merg_batting["BATTING"].str.contains("Fall of wickets:") == False]
    merg_batting = merg_batting[merg_batting["BATTING"].str.contains("Extras") == False]
    merg_batting = merg_batting[merg_batting["BATTING"].str.contains("TOTAL") == False]
    merg_batting = merg_batting.dropna(axis=1, how='all')
    emt_bat_df = pd.concat([emt_bat_df, merg_batting],ignore_index=True)

    merg_bowling = pd.concat([t1_bowling, t2_bowling],ignore_index=True)
    merg_bowling = merg_bowling[~merg_bowling.M.str.contains(" ", na=False)]
    emt_ball_df = pd.concat([emt_ball_df, merg_bowling],ignore_index=True)
  except:
    print(subUrl)
    

final_data = pd.concat([emt_bat_df, emt_ball_df], axis=1,ignore_index=True)
print(final_data)

/series/big-bash-league-2021-22-1269637/sydney-sixers-vs-melbourne-renegades-29th-match-1269667/full-scorecard
                         0                  1   2    3    4   5  6       7   \
0     Najmul Hossain Shanto       lbw b Ashwin  24   57   77   3  0   42.10
1               Zakir Hasan  c Rahul b Unadkat  15   34   71   1  0   44.11
2             Mominul Haque   c †Pant b Ashwin  84  157  251  12  1   53.50
3       Shakib Al Hasan (c)   c Pujara b Yadav  16   39   48   1  1   41.02
4           Mushfiqur Rahim  c †Pant b Unadkat  26   46   63   5  0   56.52
...                     ...                ...  ..  ...  ...  .. ..     ...
1011            Sean Abbott  c Patterson b Tye   1    9   12   0  0   11.11
1012          Ben Dwarshuis    c †Inglis b Tye   0    2    6   0  0    0.00
1013           Jay Lenton †            not out  10    9   15   1  0  111.11
1014            Nathan Lyon       b Richardson   3    3    6   0  0  100.00
1015          Steve O'Keefe   lbw b Richardson   2    5   10   0  0   40.00

                      8     9    10   11   12    13   14   15   16   17   18
0           Taskin Ahmed    15    2   58    1  3.86   63    7  0.0  1.0  3.0
1        Shakib Al Hasan  19.3    3   79    4  4.05   84    9  3.0  0.0  0.0
2           Khaled Ahmed    10    1   41    0  4.10   41    6  0.0  0.0  0.0
3           Taijul Islam    25    3   74    4  2.96  112    7  2.0  0.0  0.0
4     Mehidy Hasan Miraz    17    2   61    1  3.58   73    4  3.0  0.0  0.0
...                  ...   ...  ...  ...  ...   ...  ...  ...  ...  ...  ...
1011                 NaN   NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
1012                 NaN   NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
1013                 NaN   NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
1014                 NaN   NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
1015                 NaN   NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN

[1016 rows x 19 columns]

In [4]:
final_data.to_csv('bblData.csv')

# Player Historic data

In [5]:
page = requests.get('https://www.espncricinfo.com/series/big-bash-league-2022-23-1324623/hobart-hurricanes-vs-melbourne-renegades-14th-match-1324637/match-squads')

html_data = page.content

soup = BeautifulSoup(html_data)

palyer_list_url = []
for a in soup.find_all('a', href=True):
  if '/player/' in a['href']:
    palyer_list_url.append(a['href'])
print(palyer_list_url)
print(len(palyer_list_url))

['/player/riley-meredith-961713', '/player/riley-meredith-961713', '/player/riley-meredith-961713', '/player/riley-meredith-961713', '/player/asif-ali-494230', '/player/zak-evans-1088612', '/player/iain-carlisle-1090046', '/player/aaron-finch-5334', '/player/zak-crawley-665053', '/player/jake-fraser-mcgurk-1168049', '/player/tim-david-892749', '/player/martin-guptill-226492', '/player/patrick-dooley-1089962', '/player/peter-handscomb-334337', '/player/nathan-ellis-826915', '/player/sam-harper-772361', '/player/faheem-ashraf-681117', '/player/marcus-harris-434813', '/player/caleb-jewell-834741', '/player/mackenzie-harvey-1076382', '/player/ben-mcdermott-603410', '/player/akeal-hosein-530812', '/player/riley-meredith-961713', '/player/ruwantha-kellepotha-494838', '/player/james-neesham-355269', '/player/nic-maddinson-333780', '/player/mitchell-owen-1213979', '/player/shaun-marsh-6683', '/player/joel-paris-501012', '/player/david-moody-779937', '/player/wil-parker-1216350', '/player/mujeeb-ur-rahman-974109', '/player/shadab-khan-922943', '/player/jack-prestwidge-977451', '/player/d-arcy-short-308798', '/player/kane-richardson-272262', '/player/billy-stanlake-533042', '/player/corey-rocchiccioli-1205981', '/player/chris-tremain-553800', '/player/andre-russell-276298', '/player/matthew-wade-230193', '/player/will-sutherland-1076722', '/player/macalister-wright-816627', '/player/jonathan-wells-233680']
44

In [6]:
combiled_player_data = pd.DataFrame()
player_token_list = []
for player_name in palyer_list_url:
  try:
    playes_data = pd.read_html(f"https://www.espncricinfo.com{player_name}/matches")[0]
    playes_data.drop(['Match','Format','Date'], axis=1,inplace = True)
    num_list = list(range(len(playes_data)))
    playes_data['Match']=pd.Series(sorted(num_list, reverse=True))
    playes_data['Name'] = player_name.split('/')[-1]
    if 'Bowl' not in playes_data:
      playes_data['Bowl']=0

    playes_data = playes_data.reindex(sorted(playes_data.columns), axis=1)
    playes_data['Bat']=playes_data['Bat'].replace('\*','',regex=True)
    try:
      playes_data['Bat'] = playes_data['Bat'].str.split(' ').str[0]
    except:
      pass
    playes_data['Bat']=playes_data['Bat'].replace('\--','0',regex=True).astype(int)
    try:
      playes_data['Bowl'] = playes_data['Bowl'].str.split('/').str[0]
    except:
      pass
    playes_data['Bowl']=playes_data['Bowl'].replace('\--','0',regex=True).astype(int)
    combiled_player_data = pd.concat([combiled_player_data, playes_data],ignore_index=True)
    print(player_name.split('/')[-1])
    player_token_list.append(player_name.split('/')[-1])
  except:
    print(f"------------- PASSED {player_name.split('/')[-1]} -----------")

riley-meredith-961713
riley-meredith-961713
riley-meredith-961713
riley-meredith-961713
asif-ali-494230
zak-evans-1088612
iain-carlisle-1090046
aaron-finch-5334
zak-crawley-665053
jake-fraser-mcgurk-1168049
tim-david-892749
martin-guptill-226492
patrick-dooley-1089962
peter-handscomb-334337
nathan-ellis-826915
sam-harper-772361
faheem-ashraf-681117
marcus-harris-434813
caleb-jewell-834741
mackenzie-harvey-1076382
ben-mcdermott-603410
akeal-hosein-530812
riley-meredith-961713
ruwantha-kellepotha-494838
james-neesham-355269
nic-maddinson-333780
mitchell-owen-1213979
shaun-marsh-6683
joel-paris-501012
david-moody-779937
wil-parker-1216350
mujeeb-ur-rahman-974109
shadab-khan-922943
jack-prestwidge-977451
d-arcy-short-308798
kane-richardson-272262
billy-stanlake-533042
corey-rocchiccioli-1205981
chris-tremain-553800
andre-russell-276298
matthew-wade-230193
will-sutherland-1076722
macalister-wright-816627
jonathan-wells-233680

In [7]:
combiled_player_data

     Bat  Bowl      Ground  Match                   Name  Wkt
0      0     3      Hobart      9  riley-meredith-961713  NaN
1      0     0      Sydney      8  riley-meredith-961713  NaN
2      0     2  Launceston      7  riley-meredith-961713  NaN
3      7     2   Melbourne      6  riley-meredith-961713  NaN
4      1     1      Hobart      5  riley-meredith-961713  NaN
..   ...   ...         ...    ...                    ...  ...
435   18     0   Melbourne      4  jonathan-wells-233680  NaN
436   12     0   Melbourne      3  jonathan-wells-233680  NaN
437   27     0    Adelaide      2  jonathan-wells-233680  NaN
438   73     0    Adelaide      1  jonathan-wells-233680  NaN
439    6     0    Adelaide      0  jonathan-wells-233680  NaN

[440 rows x 6 columns]

In [8]:
combiled_player_data.drop(['Wkt'], axis=1, inplace = True)
combiled_player_data

     Bat  Bowl      Ground  Match                   Name
0      0     3      Hobart      9  riley-meredith-961713
1      0     0      Sydney      8  riley-meredith-961713
2      0     2  Launceston      7  riley-meredith-961713
3      7     2   Melbourne      6  riley-meredith-961713
4      1     1      Hobart      5  riley-meredith-961713
..   ...   ...         ...    ...                    ...
435   18     0   Melbourne      4  jonathan-wells-233680
436   12     0   Melbourne      3  jonathan-wells-233680
437   27     0    Adelaide      2  jonathan-wells-233680
438   73     0    Adelaide      1  jonathan-wells-233680
439    6     0    Adelaide      0  jonathan-wells-233680

[440 rows x 5 columns]